// uniquement les imports ôour nos types et les fony size pour chaque element typos (titre, p, a, li, span)

// All screens font sizes
$h1-fontsize: 2rem;
$h2-fontsize: 1.5rem;
$h3-fontsize: 1.2rem;

$regular-fontsize: 1rem;
