@import '~src/styles/theme';

#tab .state-annule {
  background: $spalette-color-one;
}
#tab .state-option {
  background: lighten($spalette-color-one, 30);
}
#tab .state-confirme {
  background: $spalette-color-three;
}
